body {
  background-color: #303030;
}
#opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80dvh;
  gap: 0px;
  h1 {
    font-size: 200px;
    margin-bottom: 0px;
    margin-top: 350px;
  }
  h3 {
    font-size: 30px;
  }
}

#content {
  
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto auto;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 23px;

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 50px;

    h1 {
      
      font-size: 100px;
    }

    .subtitle {
      margin-top: -2.5em;
    }
  }
  main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-style: hidden;
    border-radius: 20px;
    & > div {
      margin-left: 20px;
      padding-right: 20px;
      text-align: justify;
      line-height: 1.5em;

      & > div {
        background-color: #E83E1C;
        button {
          background-color: #E83E1C;
          color: white;
          border-radius: 0%;
          border-style: hidden;
          font-size: large;
          width: 180px;
          height: 35px;
          transition: all 0.5s;

          &:hover {
            
            background-color: black;
          }
        }
      }
    }
  }
  footer {
  grid-column: 1 / 3;
  }

}

.menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #d9d9d9;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  #about-me {
    position: absolute;
    right: 5em;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: darkslateblue;
    }
  }
}

#func {
  background: #d9d9d9;
  width: 65%;
  float: right;
  height: auto;
}

.inline-block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.intel-mono {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

#formalDefTxt {
  display: none;
}

#content-funcplot {
  margin-left: 50px;
  article {
    background-color: #E83E1C;
    width: 610px;
    padding: 5px 5px;
  }
  #checkboxes {
    width: 80px;
  }
  input:not([type="checkbox"]){
    width: 500px;
    border-style: hidden;
    background-color: #E83E1C;
    color: white;
    transition: all 0.4s;
    
    &:focus {
      background-color: #303030;
    }
    &:hover {
      background-color: #303030;
    }

  }
  button {
    border-radius: 0%;
    border-style: hidden;
    background-color: #303030;
    color: white;
    transition: all 0.4s;
    width: 100px;
    
    &:hover {
      background-color: #fff;
      color: #303030;
    }
  }
}