:root {
  --primary-bg-color: #303030;
  --primary-txt-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: white;
    --primary-txt-color: #000000;
  }

}

body {
  background-color: var(--primary-bg-color);
}
#settings {
  background-color: white;
}

#types {
  color: white;

  main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    & > * { /* Descritor generico para elementos da tag: box */
      background-color: #4c848d;
      border: 5px solid white;
      border-radius: 20px;
      margin: 70px 100px;
      width: 20vw;
      font-size: 40px;
      height: 86vh;
      text-align: justify;
      padding: 0px 40px;
      z-index: 1;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
      }

      p {
        max-height: 750px;
        overflow: auto;
      }
    }

    #box1{
      grid-column: 1 / 2;
    }
    #box2{
      grid-column: 2 / 3;
    }
    #box3{
      grid-column: 3 / 4;
    }
  }
}
#enlarged {
  display: none;
  /* display: flex; */
  
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  backdrop-filter: blur(10px);
  z-index: 900;
  align-items: center;
  p {
    width: 30vw;
    display: none;
    height: 98vh;
    overflow: auto;
  }
}

.menu {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 0px;
  background-color: #d9d9d9;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  #about-me {
    position: absolute;
    right: 7em;
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: darkslateblue;
    }
  }
}
.intel-mono {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

@media (max-width: 2000px) {
  #types {
    main {
      display: flex;
      flex-direction: column;
      & > *{
        width: 86vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
  } 
}