@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #303030;
    --primary-txt-color: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: white;
    --primary-txt-color: #000000;
  }
  
}

body {
  background-color: var(--primary-bg-color);
}

#types {
  color: white;

  main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    & > * {
      background-color: #4c848d;
      border: 5px solid white;
      border-radius: 20px;
      margin: 70px 100px;
      width: 20vw;
      font-size: 40px;
      height: 86vh;
      text-align: justify;
      padding: 0px 40px;
    }

    #box1{
      grid-column: 1 / 2;
    }
    #box2{
      grid-column: 2 / 3;
    }
    #box3{
      grid-column: 3 / 4;
    }
  }
}

.menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #d9d9d9;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  #about-me {
    position: absolute;
    right: 5em;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: darkslateblue;
    }
  }
}
.intel-mono {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

#enlarged {
  display: none;
  position: absolute;
  left: calc(50% - calc(588px / 2));
  top: 20px;
  z-index: 999;

  font-size: 50px;
}
#enlarged-overlay {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}